body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1500px; 
    margin: 0 auto;
}
.back-img {
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 16px;
    padding-bottom: 192px;
    background-image: url(imagens/hero_landing_us_alt.webp);
}

.header {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 510px;
    margin-right: 0;
    margin-bottom: 3;
}
#h1-principal {
    color: white;
    margin-left: 0vw;
    margin-top: 2vh;
    line-height: 10px;
    font-weight: 700;
}
.sign-btn {
    margin-left: 370px;
    font-weight: 600;
}
#al1 {
    color: white;
    cursor: pointer;
}
#al1:hover {
    color: tomato;
    transition: 0.4 all;
}
#btn-css {
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid white;
    padding: 8px;
    border-radius: 80px;
    margin-right: 5px;
}

li {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.h2-title {
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: 300;
}
form {
    display: flex;
    justify-content: center;
}
.inpder {
    width: 450px;
    border-radius: 32px;
    border: none;
    padding-top: 15px;
    padding-left: 7px;
    padding-bottom: 15px;  
    padding-right: 7px;
}
.inpder::placeholder{
    text-overflow: ellipsis ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-right: 200px ;
    font-weight: 700;
}
#localizar {
    width: 35px;
    position: relative;
    top: 25%;
    left: 8%;
}
#seta {
    width: 38px;
    position: relative;
    top: 28%;
    right: 9%;
}

button {
    border-radius: 32px;
    border: none;
    color: brown;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px ;
}

.link1 {
    text-align: center;
    margin-top: 30px;

}
span {
    font-size: 20px;
    margin-top: 12px;
    font-weight: 600;
}
/* SECTION 1 MAIN */

main {
    display: flex;
    position: relative;
    top: 125px;
    bottom: 125px;
    width: 750px;
    right: 16vh;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}
.section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    width: 130%;
}
.storyborders {
    width: 100%;
    text-align: center;
}
.imgs-storys {
    height: 154px;
    width: 154px;
}
.h1-storys {
    margin-top: 1vh;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    margin-bottom: 0px;
}
.p-storys {
    margin-bottom: 2vh;
    font-size: 17px;
    font-weight: 600;
}
.links-storys {
    color: red;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}
.container {
    display: flex;
    width: 150%;
}
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12%;
}
.sub-title-2 {
    position: relative;
    right: 6%;
}
#h1-section-2 {
    font-size: 250%;
    padding: 0;
    margin-top: 16%;
}
#p-2 {
    font-size: 105%;
    font-weight: 500;
    position:relative ;
    bottom: 15px;
}
.btn-s2 {
    background-color: red;
    padding: 16px;
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    width: 39%;
}
.btn-s2:hover {
    background-color: rgb(104, 14, 14);
    transition: 0.5s all;
    cursor: pointer;
}
#img-section-2 {
    width: 768px;
    aspect-ratio: auto 768 / 554;
    height: 554px;
}
#img-seçao2 {
    position: relative;
    width: 94%;
    left: 0;
}
.container-2 {
    display: flex;
    background-color: rgb(255, 240, 237);
    flex-direction: row;
    padding-top: 6%;
    margin-top: 4%;
    padding-bottom: 8%;
    justify-content: space-around;
    width: 100%;
    gap: 3%;
}
.img-title-3 {
    display: flex;
    flex-flow: row;
    margin: 40px;
}
#img3-t3 {
    width: 105%;
    height: 105%;
    align-items: center;
}
.sub-title-3 {
    display: flex;
    flex-direction: column;
    position:relative;
    top: 200px;
    width: 43%;
    height: 0;
}
#h1-section3 {
    font-size: 250%;
    padding: 0;
    line-height: 0px;
}
#p-3 {
    font-size: 100%;
    font-weight: 500;
}    

footer {
    background-color: #191919;
    color: white;
}
.footer-adjust {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 2%;
}
#titulo-foot {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 400;
    display: flex;
    margin: 0;
    position: relative;
    left: 6%;
    top: 2vh;
    max-width: fit-content;
}
#h3-title-foot {
    display: flex;
    margin-left: 28%;
    min-width: 150%;
}
.div-principal {
    display: flex;
    gap: 13%;
    max-width: 100%;
    width: 47%;
    padding-top: 2%;
}
.seçao-link {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 100px;
}
.seçao-link1 {
    display: flex;
    flex-direction: column;
    min-width: 114px;
}
.seçao-link2 {
    display: flex;
    flex-direction: column;
    min-width: 116px;
}
.link-footer {
    color: rgb(186, 183, 183);
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.link-footer:hover, .link-footer2:hover,
.link-footer3:hover {
    color: white;
    text-decoration: underline;
    transition: 0.4s all;
}
.div-secundaria {
    display: flex;
    gap: 24%;
    max-width: 100%;
    width: 47%;
    padding-top: 2%;   
}
.link-footer2{
    color: rgb(186, 183, 183);
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.seçao-link3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 100px;
}
.seçao-link4 {
    display: flex;
    flex-direction: column;
    min-width: 114px;
}
.footer-adjust-2 {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-right: 2%;      
}
.div-tercearia {
    display: flex;
    gap: 10%;
    width: 47%;
    padding-top: 5%;
    min-width: 50%;   
}
.seçao-link5 {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 100px;
}
.seçao-link6 {
    display: flex;
    flex-direction: column;
    min-width: 114px;
}
.seçao-link7 {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}
.link-footer3 {
    color: rgb(186, 183, 183);
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;   
}
.ultimo-title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 400;
    display: flex;
    margin: 0;
    position: relative;
    left: 6%;
    top: 8vh;
    max-width: fit-content;   
}
#h13,
 #h14,
  #h15 {
    display: flex;
    margin-left: 0%;
    min-width: 50%;
}
.app-button {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    margin-right: 4%;
}

.appbutton {
    width: 180px;
    margin-bottom: 12% ;
}
.appbutton:hover {
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
#lojas-de-apps {
    display: flex;
    flex-direction: column;
    
}
.appbutton2 {
    width: 180px;
}
.appbutton2:hover {
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
 .nav-footer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 1.5%;
    align-items: center;
    padding-top: 1.8% ;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 3%;
 }
 #ds500 {
    width: 60px;
 }
 .facebook {
    width: 30px;
    margin-left: 100%;
 }
 .twitter {
    width: 40px;
    margin-left: 50%;
    position: relative;
 }
 .instagram {
    width: 30px;
    margin-left: 50%;
 }
 .href-css {
    color: rgb(186, 183, 183);
    line-height: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
    font-size: 70%;
}
#copyright {
    color: rgb(186, 183, 183);
    position: relative;
    bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
    font-size: 70%;
}
#languaje {
    border-radius: 30%;
    padding: 5px;
    font-weight: 700;
    text-align: left;
    font-size: 19px;
    border: none;
    margin-left: 4%;
}
#languaje:hover {
    cursor: pointer;
    background-color: rgb(172, 166, 166);
    transition: 0.5s all;
    border: none;
}